<a href="https://colab.research.google.com/github/MarioPrado1148/DSWP_Aluno_Mario/blob/main/Carregar%20dataset%20a%20partir%20do%20Google%20Drive%20-%20120_anos_eventos_ol%C3%ADmpicos_carregar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
url = '/content/drive/My Drive/Datasets/eventos_olimpicos/athlete_events.csv'

In [ ]:
import pandas as pd
df_olympics = pd.read_csv(url)

In [ ]:
df_olympics.head()

   ID                      Name  ...                             Event  Medal
0   1                 A Dijiang  ...       Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...      Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...           Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...       Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]